/*这是头部的样式*/

.topNav {
	background: #eee;
}

.nav {
	width: 1192px;
	height: 30px;
	background: #eee;
	margin: 0 auto;
}

.navL {
	width: 484px;
	height: 30px;
	background: #eee;
	float: left;
}

.navL_o {
	color: #666;
	line-height: 30px;
	float: left;
}

.navL_o span {
	color: #e14041
}

.navL_tw {
	line-height: 30px;
	color: #666;
	float: left;
	margin-left: 10px;
}

.verline {
	padding: 0 10px;
}

.navL_mb {
	float: right;
	overflow: hidden;
}

.mb_bg1 {
	background: url(../img/Sprite/index.png) no-repeat -0px -175px;
	width: 10px;
	height: 17px;
	float: left;
	margin-top: 6px;
}

.navL_mb a {
	line-height: 30px;
	color: #666;
	margin-left: 3px;
}

.mb_bg2 {
	background: url(../img/Sprite/index.png) no-repeat -5px -210px;
	width: 7px;
	height: 4px;
	float: right;
	margin-top: 15px;
	margin-left: 3px;
}

.navCent {
	margin-left: 85px;
	float: left;
}

.navCent a {
	float: left;
	font-weight: bold;
}

.navCent_bg {
	float: left;
	background: url(../img/Sprite/index.png) no-repeat -0px -660px;
	width: 15px;
	height: 14px;
	padding: 0 5px;
}

.navCent {
	margin-top: 5px;
}

.navR {
	float: right;
}

.navR a {
	line-height: 30px;
	border-right: 1px solid #666;
	padding: 0 10px;
}

.navR .navRa {
	color: #e60000;
}

.navAhor:hover {
	color: #e60000;
}

.header_bodyG {
	background: #f7f7f7;
}

.header_body {
	width: 1192px;
	height: 142px;
	background: #f7f7f7;
	margin: 0 auto;
	overflow: hidden;
}

.header_bodyFixed {
	position: fixed;
	width: 1190px;
	height: 54px;
	left: 50%;
	top: -5px;
	margin-left: -595px;
	z-index: 1111;
	padding: 10px 0;
	background: #fff;
	opacity: 0.9;
	box-shadow: 0 3px 3px rgba(9, 2, 4, 0.2);
}

.header_bodyFixed {
	-webkit-animation: searchTop .5s ease-in-out;
	-moz-animation: searchTop .5s ease-in-out;
	animation: searchTop .5s ease-in-out
}

@-webkit-keyframes searchTop {
	0% {
		top: -50px
	}
	100% {
		top: 0
	}
}

@-moz-keyframes searchTop {
	0% {
		top: -50px
	}
	100% {
		top: 0
	}
}

@keyframes searchTop {
	0% {
		top: -50px
	}
	100% {
		top: 0
	}
}

.headerScrollNav {
	height: 30px;
	width: 650px;
	margin-top: 14px;
	display: none;
}

.headerScrollNav li {
	float: left;
	white-space: nowrap;
	font-size: 14px;
	border-left: 1px solid #c5c5c5;
	padding: 0 10px;
	margin: 5px 0 5px -1px;
}

.logo {
	background: url(../img/Sprite/index.png) no-repeat 0px 0px;
	width: 341px;
	height: 71px;
	margin-top: 30px;
	float: left;
}

.header_Seach {
	float: left;
	margin-top: 34px;
}

#search_form {
	width: 507px;
	height: 41px;
	border: 1px solid #ccc;
	overflow: hidden;
	position: relative;
	top: 0;
	left: 0;
}

.seach_input {
	width: 460px;
	height: 41px;
	border: 0;
	text-indent: 6px;
}

.seach_btn {
	background: url(../img/Sprite/index.png) no-repeat -0px -90px;
	width: 22px;
	height: 20px;
	border: 0 none;
	position: absolute;
	right: 14px;
	top: 10px;
}

.headerSearchHotkey {
	width: 507px;
}

.headerSearchHotkey a {
	padding: 0 3px;
	line-height: 32px;
}

.headerSearchHotkey span {
	color: #666;
}

.headerCart {
	float: right;
	width: 150px;
	height: 32px;
	background: #f7f7f7;
	margin: 42px 100px 0 0;
}

.CartBg {
	background: url(../img/Sprite/index.png) no-repeat -0px -135px;
	width: 30px;
	height: 28px;
	float: left;
}

.headerCart a {
	float: left;
	line-height: 32px;
	margin-left: 10px;
}
.headerCart span{
	font-size: 14px;
	
}

.headerCart strong {
	color: #e14041;
}

.headerNavG {
	background: #eeeeee;
	border-bottom: 1px solid #e60000;
}

.headerNav {
	width: 1192px;
	height: 49px;
	background: #EEEEEE;
	margin: 0 auto;
	position: relative;
}

.headerNav_ul {
	float: left;
	padding-left: 200px;
}

.headerNav_ul li {
	float: left;
	line-height: 49px;
	width: 133px;
	text-align: center;
}

.headerNav_ul li a {
	font-family: "微软雅黑";
	font-weight: bold;
	font-size: 20px;
}

.headerNav_ul .active {
	border-bottom: 3px solid #e60021;
	height: 47px;
	text-align: center;
}

.headerNav_ul .active a {
	color: #e60021;
}

.headerNav_ul .line {
	width: 0;
	height: 24px;
	margin-top: 13px;
	border-right: 1px solid #d2d2d2;
	font-size: 0;
}

.sideMenu {
	width: 200px;
	position: absolute;
	left: 0;
	top: 0;
}

.title {
	height: 50px;
	background: #e60000
}

.title p {
	line-height: 50px;
	text-align: center;
	font-size: 20px;
	color: #fff;
	font-weight: bold;
	background: url(../img/Sprite/index.png) no-repeat 148px -608px;
}

.list {
	width: 200px;
	height: 440px;
	background: #fff;
	position: relative;
	z-index: 15;
}

.list li {
	text-align: center;
	border-bottom: 1px solid #f2f0f0;
	height: 36px;
	line-height: 36px;
	position: relative;
}

.list li:hover {
	background: #e60000;
}

.list li a {
	color: #000;
	padding: 0 15px;
	font-size: 14px;
	display: inline-block;
}

.list span {
	background: url(../img/Sprite/index.png) no-repeat -187px -78px;
	width: 4px;
	height: 7px;
	position: absolute;
	right: 13px;
	top: 18px;
}

.list_detail {
	display: none;
	width: 585px;
	height: 440px;
	background: #fff;
	position: absolute;
	left: 200px;
	top: 50px;
	z-index: 10;
}

.list_detail li a {
	padding: 0 10px;
}

.list_detail li {
	margin-top: 2px;
	margin-left: 10px;
}

.detail_title {
	background: url(../img/rightIco.png) no-repeat right center;
	display: inline-block;
	font-size: 14px;
}

.detail_item a {
	border-right: 1px solid #ccc;
	white-space: nowrap;
	line-height: 30px;
}

.detail_item a:hover {
	color: #e14041;
}


/*这是尾部的样式*/

.foot_camG {
	background: #EDEDED;
}

.foot_mapG {
	background: #EDEDED;
}

.foot_contectG {
	background: #EDEDED;
}

.foot_cam {
	background: #EDEDED;
	width: 1192px;
	margin: 0 auto;
	overflow: hidden;
	border-bottom: 1px solid #dedede;
}

.cam_title {
	height: 56px;
	margin: 80px 0 30px 0;
}

.cam_Ul li {
	width: 236px;
	height: 56px;
	border-right: 1px solid #dedede;
	float: left;
}

.cam_Logo {
	background: url(../img/Sprite/foot.png) no-repeat -0px -0px;
	width: 34px;
	height: 39px;
	float: left;
	margin-left: 50px;
}

.cam_Logo1 {
	background: url(../img/Sprite/foot.png) no-repeat -0px -60px;
	width: 36px;
	height: 39px;
	float: left;
	margin-left: 50px;
}

.cam_Logo2 {
	background: url(../img/Sprite/foot.png) no-repeat -0px -120px;
	width: 72px;
	height: 40px;
	float: left;
	margin-left: 50px;
}

.cam_Logo3 {
	background: url(../img/Sprite/foot.png) no-repeat -0px -175px;
	width: 38px;
	height: 42px;
	float: left;
	margin-left: 50px;
}

.cam_Logo4 {
	background: url(../img/Sprite/foot.png) no-repeat -0px -235px;
	width: 42px;
	height: 42px;
	float: left;
	margin-left: 50px;
}

.cam_P {
	font-size: 14px;
	color: #333;
	float: left;
	line-height: 20px;
	margin-left: 16px;
}

.foot_map {
	width: 1192px;
	height: 196px;
	margin: 0 auto;
	overflow: hidden;
	border-bottom: 1px solid #dedede;
	background: #EDEDED;
}

.mapList {
	width: 198px;
	height: 111px;
	margin-top: 34px;
	float: left;
}

.mapList dt {
	font-size: 16px;
	color: #333;
	font-weight: bold;
	text-align: center;
	line-height: 35px;
}

.mapList dd {
	text-align: center;
}

.mapList dd a {
	color: #848484;
	text-align: center;
	line-height: 22px;
	font-size: 14px;
}

.mapList dd a:hover {
	color: #f3484a;
}

.foot_contect {
	width: 1192px;
	height: 87px;
	background: #EDEDED;
	margin: 0 auto;
	overflow: hidden;
}

.contect_main {
	width: 820px;
	height: 60px;
	margin: 0 auto;
	background: #EDEDED;
}

.contect_us {
	line-height: 60px;
	float: left;
}

.contect_us a {
	font-size: 16px;
	color: #333;
	border-right: 1px solid #000000;
	padding: 0 10px;
}

.contect_us a:hover {
	color: #f3484a;
	text-decoration: underline;
}

.copyright {
	float: right;
	font-size: 16px;
	color: #848484;
	line-height: 60px;
}