.banner_list {
	position: relative;
	width: 100%;
	height: 440px;
}

.banner_picU {
	position: relative;
	width: 100%;
	z-index: 5;
	height: 440px;
	overflow: hidden;
}

.banner_picU li {
	width: 100%;
	height: 440px;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	filter: alpha(opacity=0);
}

.banner_picU a {
	display: inline-block;
	background: url(../img/bannerBaby.jpg) no-repeat center 0;
	width: 100%;
	height: 100%;
	line-height: 400px;
}

.listUl {
	position: absolute;
	z-index: 6;
	bottom: 10px;
	width: 100%;
	left: 0;
	text-align: center;
}

.listUl li {
	display: inline-block;
	width: 8px;
	height: 8px;
	margin-left: 10px;
	border: 2px solid #fff;
	border-radius: 83px;
}

.listUl .listActive {
	border-color: #e14041;
	background: #e14041;
}

.flashSaleG {
	background: #EDEDED;
	overflow: hidden;
}

.flashSale {
	width: 1192px;
	background: #FFD93F;
	margin: 0px auto;
	margin-top: 100px;
	padding: 1px;
}

.flashSaleTop {
	width: 645px;
	height: 92px;
	background: FFD93F;
	margin: 0 auto;
}

.fla_logo {
	width: 98px;
	height: 116px;
	background: url(../img/Sprite/flashSale.png) no-repeat 0 0;
	margin-top: -26px;
	float: left;
}

.fla_Ico {
	width: 16px;
	height: 12px;
	background: url(../img/Sprite/flashSale.png) no-repeat 0 -135px;
	position: absolute;
	left: -16px;
	top: 28px;
}

.dead_time_box {
	width: 520px;
	height: 64px;
	background: #F5C501;
	border-radius: 6px;
	margin: 15px 0 0 22px;
	float: left;
	position: relative;
}

.dt_icon {
	background: url(../img/Sprite/flashSale.png) no-repeat -0px -165px;
	width: 122px;
	height: 51px;
	margin: 8px 0 0 24px;
	border-right: 1px solid #252525;
	float: left;
}

.time_box {
	width: 352px;
	height: 64px;
	float: right;
	
}

.time_box span {
	font-size: 18px;
	line-height: 64px;
}

.time_box .numDay1,
.time_box .numDay2,
.time_box .numHour1,
.time_box .numHour2,
.time_box .numMinute1,
.time_box .numMinute2 {
	display: inline-block;
	width: 23px;
	height: 23px;
	border-radius: 50%;
	line-height: 23px;
	border: 1px solid #252525;
	text-align: center;
}
.shop_cont{
	width: 1160px;
	height: 366px;
	background: #FFD93F;
	margin: 0 auto;
	margin-bottom: 28px;
	/*overflow: hidden;*/
	
	
}
.newGoodsList{
	
	width: 278px;
	height: 365px;
	float: left;
	margin-left: 8px;
	position: relative;
	
}
.mask{
	position: absolute;
	width: 100%;
	height: 100%;
	left: -1px;
	top: -1px;
	border: 1px solid #E60000;
	display: none;
}
.img_view{
	display: block;
	width: 278px;
	height: 258px;
	text-align: center;
	overflow: hidden;
	background: #FFFFFF;
	
	
}
.img_viewP img{
	margin: 0 auto;
	width: 226px;
	height: 226px;
}
.jx_box{
	width: 100%;
	height: 32px;
	background: #fff;
	overflow: hidden;
	
	
}
.img_country{
	width: 18px;
	height: 18px;
	margin-top: 8px;
	margin-left: 10px;
	float: left;
	
	
}
.img_country img{
	width: 18px;
	height: 18px;	
	
}
.img_title{
	float: left;
	line-height: 32px;
	padding: 0 8px;
	
}
.cont_bottm{
	
	width: 100%;
	height: 106px;
	background: #fff;
	position: relative;
}
.shop_info{
	height: 36px;
	overflow: hidden;
	background: #fff;
	padding: 0 10px;
	position: relative;
	border-bottom: 1px solid #ededed;
	z-index: 99;
}

.shop_name{
	width: 260px;
	height: 36px;
	line-height: 36px;
	overflow: hidden;
	font-weight: normal;
	text-overflow: ellipsis;
	white-space: nowrap;
	position: relative;
	font-size: 14px;
	padding-left: 3px;
	overflow: hidden;
	bottom: 0px;
	
}
.shop_name a{
	color: #000000;
	
}
.intro{
	color: #535353;
	padding: 0 25px 0 10px;
	line-height: 20px;
	height: 40px;
	position: absolute;
	margin-top: 6px;
	text-overflow: ellipsis;
	z-index: 800;
	top: 26px;
	font-size: 14px;
	overflow: hidden;
}


.shop_pri{
	
	margin-top: 8px;
	text-align: left;
	color: #959595;
	font-size: 18px;
	padding-top: 15px;
	
	
}
.shop_pri span{
	
	font-size: 32px;
	color: #E60000;
	padding: 0 10px 0 10px;
	font-family: arial;
	
}
.shop_pri span em{
	
	font-size: 22px;
	
}
.sellGoodsG{
	background: #EDEDED;
	overflow: hidden;
}
.sellGoods{
	width: 1192px;
	height: 430px;
	margin: 0 auto;
	background: #EDEDED;
	overflow: hidden;
	margin-top: 30px;
	
}
.GoodsTop{
	
	width: 100%;
	overflow: hidden;
	border-bottom: 2px solid #E60000;
}
.GoodsTopLogo{
	background: url(../img/Sprite/index.png) no-repeat  -0px -240px; 
	width: 190px;
	height: 38px;;
}
.GoodsPro{
	width: 1192px;
	background: #EDEDED;
	/*background: greenyellow;*/
	margin-top: 10px;
	
}
.newGoods{
	float: left;
	width: 237px;
	height: 379px;
	position: relative;
	background: #fff;
	margin-left: 1px;
}
.goods_view{
	
	display: block;
	width:218px;
	height:250px;
	text-align:center;
	position:relative;
	margin: 10px auto 0;
	background: darkslateblue;
	overflow: hidden;
	
}
.tag{
	
	width: 54px;
	height: 54px;
	position: absolute;
	top: 0;
	left: 0;
}
.tag img{
	width: 54px;
	height: 24px;
}
.goods_bottom{
	
	width: 218px;
	height: 140px;
	background: #fff;
	margin: 0 auto;
	
}
.shop_name{
	
	width: 213px;
	height: 30px;
	line-height: 30px;
	/*border-bottom: 1px solid  #ededed;*/
	overflow: hidden;
	font-weight: normal;
	text-overflow: ellipsis;
	white-space: nowrap;
	
}
.shop_name a{
	font-size: 14px;
	color: #252525;
	
}
.goods_intro{
	
	color: #959595;
	font-size: 12px;
	line-height: 20px;
	height: 40px;
	overflow: hidden;
	font-weight: normal;
	margin-top: 8px;
	text-overflow: ellipsis;	
}
.goods_price{
	width: 218px;
	height: 34px;
	background: #fff;
	margin-top: 8px;
	
}

.goods_price span {
	line-height: 34px;
	font-size: 24px;
	color: #E60000;
	padding: 0 10px 0 10px;
	font-family: arial;
	
}
.goods_price span em{
	font-size: 18px;
	
}

.goods_price del{
	font-size: 14px;
	color: #959595;
}
.newArrivalG{
	
	background: #EDEDED;
	overflow: hidden;
	
}
.newArrival{
	width: 1192px;
	height: 670px;
	margin: 0 auto;
	overflow: hidden;
	background: #EDEDED;
	margin-top: 30px;
	
	
}
.arrivalTop{
	
	width: 100%;
	overflow: hidden;
	border-bottom: 2px solid #2a71b9
	
}
.arrivalTopLogo{
	background: url(../img/Sprite/index.png) no-repeat  -0px -305px; 
	width: 190px;
	height: 38px;;
	
}
.arrivalPro{
	width: 1192px;
	margin-top: 10px;
	/*overflow: hidden;*/
	
}
.arrivalGoods{
	
	width: 590px;
	height: 300px;
	margin-bottom: 10px;
	background: #fff;	
	position: relative;
	margin-left: 1px;
	float: left;
	margin-right: 5px;
}
.arrival_view{
	display: block;
	width: 280px;
	height: 280px;
	float: left;
	margin: 10px 0 10px 10px;
	position: relative;
	
	
}
.arrival_bottm{
	
	float: left;
	width: 260px;
	height: 240px;
	padding: 30px 20px;
	position: relative;
	background: #fff;
	
}
.jj_box{
	width: 260px;
	height: 33px;
	/*padding-bottom: 10px;*/
	text-align: left;
	font-size: 12px;
	color: #555;
	border-bottom: 1px solid #ededed;
	overflow: hidden;
	
	
}
.jj_p1{
	width: 18px;
	height: 18px;
	margin-top: 6px;
	float: left;
	
}
.jj_p1 img{
	width: 18px;
	height: 18px;
}
.jj_box span{
	line-height: 28px;
	float: left;
	margin-left: 10px;	
}
.jj_p2{
	
	width: 260px;
	height: 35px;
	line-height: 35px;
	border-bottom: 1px solid #ededed;
	overflow: hidden;
	font-weight: normal;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.jj_p2 a{
	
	color: #252525;
	font-size: 14px;
}
.jj_p3{
	
	color: #959595;
	font-size: 12px;
	line-height: 20px;
	height: 60px;
	overflow: hidden;
	font-weight: normal;
	margin-top: 8px;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	word-break: break-all;
	-webkit-box-orient: vertical;
	
}
.btn_box{
	
	text-align: left;
	position: absolute;
	left: 20px;
	bottom: 30px;
	
	
}
.btn_box a{
	display: inline-block;
	width: 180px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #E60000;
	font-size: 18px;
	border: 1px solid #E60000;
	
}
.CartTip{
	
	display: none;
	position: absolute;
	right: 0;
	bottom: 48px;
	width: 120px;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	text-align: center;
	background: #fff;
	box-shadow: 0 2px 2px #ccc;
	padding-left: 4px;
	
	
}
.CartP{
	
	width: 15px;
	height: 15px;
	background: url(../img/true.png) no-repeat;
	margin-top: 7px;
	float: left;
}
